@font-face {
   font-family: 'remington-cz';
      src: url('remington-cz.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'remington-cz';
}

@media only print {
  .no-print {
    display: none;
  }
  @page {
    margin: 0;
  }
  #main-title {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}